<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Blog</title>
  </head>
  <body>
      {{#each posts}}
        <div>
					<h2><a href="/post/{{this.id}}">{{this.title}}</a></h2>
          <div>
            {{this.body}}
          </div>
          <div>
            {{this.date}}
          </div>
        </div>
			<hr />
			{{/each}}
			<div>
				<a href="/">Home</a>
				{{#if previous}}
				<a href="/page/{{previous.Value}}">Previous page</a>
				{{#else}}
				Previous page
				{{/if}}
				{{#if next}}
				<a href="/page/{{next.Value}}">Next page</a>
				{{#else}}
				Next page
				{{/if}}
			</div>
  </body>
</html>
